.field{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    height: 50px;
    input, select{
        padding: 0.5em;
        border: none;
        border-bottom: 2px solid #b6b6b6;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #434343;
        appearance: none;
        outline: none;
        &:focus{
            border-bottom: 2px solid transparent;
            background: linear-gradient(to right, white, white), linear-gradient(15deg, #00adee, #8cc63f); 
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }
    }
    label{
        font-size: 13px;
        font-weight: 600;
        color: #086c93;
    }
}

.button{
    &.default{
        padding: .7em 2em;
        border: none;
        border-radius: 20px;
        font-size: 13px;
        color: white;
        background: linear-gradient(to bottom right, #00ADEE 0%, #8cc63f 100%);;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}

.disabled{
    pointer-events: none;
    color: #bbbaba !important;
}